.best-sellers-pack {
    .bottle {
        max-height: rem-calc(200);
        width: auto;
        margin: 0 0 rem-calc(20) 0;
    }

    .banner-image {
        margin: 0 0 rem-calc(20) 0;
    }

    .gray-bg {
        background: $vapor;
        padding: rem-calc(20);
        margin: 0 0 rem-calc(30) 0;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}
