#hero {
    h1, h2, h3, h4, h5 {
        text-transform: uppercase;
    }

    .banner-spacing {
        padding: rem-calc(25) rem-calc(25);

        @media #{$small-only} {
            padding: rem-calc(15);
        }
    }

    .row {
        border: none;
    }

    &.border {
        border: 1px solid $body-border-color;
        border-width: 0 0 rem-calc(1) 0;
    }

    p.large {
        font-size: rem-calc(18);
    }

    h1 {
        text-align: left;
        font-size: rem-calc(36);
        line-height: 1;
        margin-top: rem-calc(16);
    }

    h2 {
        font-size: rem-calc(20);
    }

    counter-reset: section;

    ul {
        -moz-column-count: 2;
        -moz-column-gap: rem-calc(20);
        -webkit-column-count: 2;
        -webkit-column-gap: rem-calc(20);
        column-count: 2;
        column-gap: rem-calc(20);
        margin-left: 0;

        @media #{$small-only} {
            -moz-column-count: 1;
            -moz-column-gap: rem-calc(0);
            -webkit-column-count: 1;
            -webkit-column-gap: rem-calc(0);
            column-count: 1;
            column-gap: rem-calc(0);
        }
		.seal-img{margin-top: rem-calc(45);}
        li {
            list-style-type: none;

            strong {
                font-weight: $font-weight-semibold;
            }
        }

        li:before {
            counter-increment: section;
            content: counter(section) ". ";
            font-weight: $font-weight-semibold;
        }
    }

    .button {
        font-size: rem-calc(15);
        display: block;
        width: 100%;
        margin: 0 auto rem-calc(16) auto;
        padding: rem-calc(11) 0;
    }

    .banner-box {
        display: block;
        border: rem-calc(1) solid #D7D7D7;
        background: #FBFBFB;
        padding: rem-calc(20) em-calc(20) 0 em-calc(20);
        margin-bottom: rem-calc(30);

        &:after {
            clear: both;
            content: '';
            display: block;
        }

        img {
            width: 12%;
            margin-right: rem-calc(10);
        }

        h3 {
            font-family: $font-family-sans-serif;
            font-weight: 700;
            font-size: rem-calc(16);
            margin-bottom: 0;
            margin-top: 0;
        }

        .row {
            background: inherit;
        }
    }
}
.seal-img{
    margin-top: rem-calc(45);
}