.virmax{
	#virmax-header{
		width: 100%;
		@media #{$small-only}{
			height: 0;
			padding-bottom: 30%;
			background-size: 100%;
		}
	}
	#virmax-wrapper{
		@media #{$small-only}{
			padding: 0 rem-calc(0);
		}
	}
	.mini-banner{
		width: 100%;
		@media #{$small-only}{
			height: 0;
			padding-bottom: 30%;
			background-size: 100%;
		}
	}
	.question{
		margin-bottom: 0;
	}
}