#buytable {
    text-align: center;
    font-weight: $font-weight-bold;
    margin: 0 0 rem-calc(20) 0;
    padding:0 rem-calc(15);
    img.buy-banner {
        width:96%;
        display:block;
        margin:0 auto rem-calc(15);
    }
    option {
        font-size: rem-calc(16);
    }
    .noPadding {
        padding-left:0;
        padding-right:0;
    }
    .buy-wrap {
        padding-top: rem-calc(12);
        border: 3px solid #E7E7E7;
        //border-radius: 0 0 rem-calc(3) rem-calc(3);
        margin-bottom: rem-calc(20);
        border-radius:rem-calc(7);
    }
    .col1 {
        @media #{$medium-up} {
            border-right:none;
            border-top-right-radius: 0;
            border-bottom-right-radius:0;   
        }
    }
    .col2 {
        box-shadow: 1px 0px 38px #BDC1C5;
        padding-bottom:rem-calc(10);
        border-top-right-radius: 0;
        border-top-left-radius:0;
        border-top:none; 
        @media #{$small-only} {
            box-shadow:none;
        }
    }
    .col3 {
        @media #{$medium-up} {
          border-left:none;
        border-top-left-radius:0;
        border-bottom-left-radius:0;  
        }
        
    }
    .title {
        font-weight: 700;
        font-size: rem-calc(24);
        text-align: center;
        background: $white;
        color: $iron;
        padding: rem-calc(4) 0;
        border-radius: rem-calc(3) rem-calc(3) 0 0;
    }

    .even {
        background-color: $primary-color;
        color:$white;
        
    }

    .quantity {
        font-size: rem-calc(24);
        line-height: 1;
        margin: rem-calc(10) 0 rem-calc(6) 0;
    }

    .description {
        font-size: rem-calc(16);
        font-weight: $font-weight-normal;
        line-height: 1;
        margin: 0 0 rem-calc(6) 0;
    }

    .add-to-cart {
        width: 100%;
        font-size: rem-calc(20);
        padding: rem-calc(6);
        text-transform: uppercase;
        border-radius: rem-calc(2);
        font-weight: $font-weight-bold;
        margin: 0 0 rem-calc(14) 0;
    }

    .out-of-stock {
        width: 100%;
        font-size: rem-calc(18);
    }
    .savings-retail {
        border-top: rem-calc(1) solid $gainsboro;
        border-bottom: rem-calc(1) solid $gainsboro;
        text-transform:uppercase;
        .savings {
        color: $success-color;
        text-align:right;
        font-weight:400;
        font-size:rem-calc(12);
        padding: rem-calc(5) 0 0;
            span:nth-child(2) {
                margin: 0 rem-calc(5) 0 0;
            }

            span:nth-child(3) {
                margin: 0 0 0 rem-calc(5);
            }
        }
        .retail {
            font-size: rem-calc(12);
            color: #505050;
            margin: 0 0 rem-calc(4) 0;
            text-align:left;
            font-weight:400;
            text-decoration:line-through;
            padding: rem-calc(5) 0 0;
        }
    }
    .price {
        font-size: rem-calc(45);
        line-height: 1;
        text-transform: uppercase;
        font-family: $font-family-sans-serif-heading;
        font-weight:900;
        padding:rem-calc(10) 0 0;
    }
    .supply {
        padding:rem-calc(5) 0 rem-calc(10);
        font-weight:400;
        font-size:rem-calc(14);
    }
    .shipping {
        padding: rem-calc(5) 0 0;
        border-top: rem-calc(1) solid $gainsboro;
        margin: 0;
        font-size:rem-calc(14);
    }
    .shipping.free {
        color:$salem;
    }
    .bonus {
        margin: 0 0 rem-calc(12) 0;
        font-size:rem-calc(14);
        min-height:rem-calc(21);
    }
    .buy-image {
        margin: 0;
        vertical-align: middle;
        padding: rem-calc(20) 0;

        img {
            max-height: rem-calc(180);
        }
    }

    .payment {
        font-size: rem-calc(30);
        color: $charcoal;

        i {
            margin: 0 0 0 rem-calc(6);
        }
    }
    .twoCol-buy {
        @media #{$medium-up}{
            margin-left:15%;
            &:last-child {
                margin-left:0;
                margin-right:15%;
            }
        } 
    }
}